MANIFEST

*.swp
*.p12

*.py[co]
*.*~

/schedules_tools/version.py

devel-tools/tmp
devel-tools/*.fc
devel-tools/*.if
devel-tools/*.pp

/build
/dist
/patch
/selinux/*.pp
/selinux/tmp
/*egg-info

.buildpath
.cache
.coverage
.eggs
.project
.pydevproject
.refactorings
.settings
.tox
/.pytest_cache/
