MANIFEST

*.swp
*.p12

*.py[co]
*.*~

/schedules_tools/version.py
/schedules_tools/tests/failed_tests_output

devel-tools/tmp
devel-tools/*.fc
devel-tools/*.if
devel-tools/*.pp

/build
/dist
/patch
/selinux/*.pp
/selinux/tmp
/*egg-info

/.buildpath
/.refactorings
.cache
.eggs
